<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>HomeCare</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="static/css/style.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="static/css/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css" />
    <!-- Slidin Custom CSS-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen"
    />
  </head>

  <body>
    <!-- register button -->
    <div class="register">
      <div class="register_button">
          <a href="{{ url_for('logon') }}">Register</a>
      </div>
  </div>

  <!-- header section start -->
  <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo">
              <a href="/"><img src="static/images/logo.png" /></a>
          </div>
      </nav>
  </div>

    <!-- header section start -->
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo">
          <a href="/"><img src="static/images/logo.png" /></a>
        </div>
        <!-- <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>-->
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logon">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><img src="static/images/search-icon.png"
              /></a>
            </li>
          </ul>
        </div> -->
      </nav>
    </div>
    <!-- header section end -->

    <!-- banner section start -->
    <div id="main_slider" class="carousel slide banner" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="banner_section">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">
                    Health <br /><span style="color: #151515">Care</span>
                  </h1>
                  <p class="banner_text">
                    A Stable AI-Based Binary and Multiple Class Heart Disease
                    Prediction Model for IoMT
                  </p>
                  <div class="btn_main">
                    <div class="more_bt"><a href="#">Contact Now</a></div>
                    <div class="contact_bt"><a href="#">Get A Quote</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="image_1">
                    <img src="static/images/img-1.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="banner_section">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">
                    Health <br /><span style="color: #151515">Care</span>
                  </h1>
                  <p class="banner_text">
                    A Stable AI-Based Binary and Multiple Class Heart Disease
                    Prediction Model for IoMT
                  </p>
                  <div class="btn_main">
                    <div class="more_bt"><a href="#">Contact Now</a></div>
                    <div class="contact_bt"><a href="#">Get A Quote</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="image_1">
                    <img src="static/images/img-1.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="banner_section">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">
                    Health <br /><span style="color: #151515">Care</span>
                  </h1>
                  <p class="banner_text">
                    A Stable AI-Based Binary and Multiple Class Heart Disease
                    Prediction Model for IoMT
                  </p>
                  <div class="btn_main">
                    <div class="more_bt"><a href="#">Contact Now</a></div>
                    <div class="contact_bt"><a href="#">Get A Quote</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="image_1">
                    <img src="static/images/img-1.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-nav">
        <a
          class="carousel-control-prev"
          href="#main_slider"
          role="button"
          data-slide="prev"
        >
          <i
            class="fa fa-long-arrow-left"
            style="font-size: 24px; padding-top: 4px"
          ></i>
        </a>
        <div class="carousel-indicators">
          <div class="col-xs-3 text-center dot">
            <a data-target="#main_slider" data-slide-to="0" href="#"></a>
          </div>
          <div class="col-xs-3 text-center dot">
            <a data-target="#main_slider" data-slide-to="1" href="#"></a>
          </div>
          <div class="col-xs-3 text-center dot">
            <a data-target="#main_slider" data-slide-to="3" href="#"></a>
          </div>
        </div>
        <a
          class="carousel-control-next"
          href="#main_slider"
          role="button"
          data-slide="next"
        >
          <i
            class="fa fa-long-arrow-right"
            style="font-size: 24px; padding-top: 4px"
          ></i>
        </a>
      </div>
    </div>
    <!-- banner section end -->

    <!-- health section start -->
    <!--
   <div class="health_section layout_padding">
      <div class="container">
         <h1 class="health_taital">Best Of Health care for you</h1>
         <p class="health_text">Heart disease seriously threatens human life due to high morbidity and mortality. Accurate prediction and diagnosis become more critical for early prevention, detection, and treatment.</p>
         
         <div class="getquote_bt_1"><a href="#">Read More <span><img src="images/right-arrow.png"></span></a></div>
         
      </div>
   </div>
   -->
    <!-- health section end -->

    <!-- footer section start -->
    <!--
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <p class="copyright_text">2022 All Rights Reserved. Design by <a href="https://html.design">Free html Templates</a></p>
         </div>
      </div>
   </div>
   -->
    <!-- footer section end -->

    <!-- Javascript files-->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.0.0.min.js"></script>
    <script src="static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom.js"></script>
    <!-- javascript -->
    <script src="static/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>
