<!doctype html>
<html lang="en">

<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/assets/css/style.css">

</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Sign In Form</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <div class="icon"><span class="fa fa-soccer-ball-o"></span></div>

                                <p>Click here to Signup?</p>
                                <a href="/logon" class="btn btn-white btn-outline-white">Sign Up</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <h3 class="mb-4">Hello! <span>Please sign in to continue</span></h3>
                            <form action="/signin" method="POST" class="signup-form">
                                <div class="form-group mb-4">
                                    <label class="label" for="name">User Name</label>
                                    <input type="text" name="user" class="form-control" placeholder="Username" required>
                                </div>

                                <div class="form-group mb-4">
                                    <label class="label" for="password">Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password"
                                        required>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary rounded submit p-3">Sign in</button>
                                </div>
                            </form>
                            <div class="w-100 social-wrap">
                                <p>
                                    <span>or</span>
                                    <span>Sign in with</span>
                                </p>
                                <p class="social-media d-flex justify-content-center">
                                    <a href="#" class="social-icon facebook d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon twitter d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/main.js"></script>
</body>

</html>
